<%- include('includes/head') %>

  </head>

  <body>
<%- include('includes/navigate') %>

    <main class="container b-main b-main_products">
      <% if(prods.length > 0) {%>
      <div>
        <% for(let prod of prods) {%>
        <article class="b-card-product">
          <header class="b-card-product__header">
            <h3 class="b-card-product__title"><%= prod.title %></h3>
          </header>
          <div>
            <img
              src="images/blue-book-emoji-clipart-md.png"
              alt="A Book"
              title="Author: JoyPexels @ Creazilla"
              class="b-card-product__img"
            />
            <p>$19.99</p>
            <p>
              A very interesting book on how to sleepwalk while you work out.
            </p>
            <button>Add to cart</button>
          </div>
        </article>
        <%}%>
      </div>
      <%} else {%>
      <h1>My Products</h1>
      <p>List of all the products...</p>
      <%}%>
    </main>

<%- include('includes/end') %>
